nav {
    background-color: rgba(120, 125, 129, 0.5);
    color: aliceblue;
    min-height: 10px;
}

.nav-link, .navbar-brand {
    color: aliceblue;
}

.navbar-toggler { 
    border-color: aliceblue; 
} 

body{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    min-height: 10vh;
    overflow: auto;
}
.content {
    /* padding-top: 70px; */
    min-height: 85vh;
    overflow: auto;
}

.footer {
    color: aliceblue;
    padding: 0px;
    margin-bottom: 0px;
    min-height: 5px;
    float: bottom;
}

.footer-copyright {
    padding: 0px;
}



