{% extends "base.html" %}
{% load static %}

{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'resume/static/css/resume_style.css' %}">
{% endblock %}

{% block page_content %}

<div id="resume-page" class="container">
    <div id="resume-header">
        <div id="resume-header-left">
            <h1>CHETAN CHAUHAN</h1>
            <h3><i>WEB DEVELOPER</i></h3>
        </div>
        <div id="resume-header-right">
            <div id="contact-details">
                <button type="button" class="btn btn-secondary">Download PDF</button><br>
                <a href="mailto:chauhanchetan82@gmail.com">chauhanchetan82@gmail.com</a><br>
                (91) 8334053394, (91) 7980312760
            </div>
        </div>
    </div>
    
    <hr id="hr-resume-header" class"hr-resume">
    <div id="resume-profile" class="resume-row">
        <div id="resume-profile-left" class="resume-left-item">
            <h3>Profile</h3>
        </div>

        <div id="resume-profile-right" class="resume-right-item">
            <p> Lorem Ipsum Text<p>
        </div>
    </div>
    <hr id="hr-resume-profile" class"hr-resume">

    <div id="resume-experience" class="resume-row">
        <div id="resume-eperience-left" class="resume-left-item">
            <h3>Experience</h3>
        </div>
        <div id="resume-profile-right" class="resume-right-item" style="width:75%; float:right;">
            <div id="resume-eperience-item" class="" style="min-height:10px; overflow:auto;">
                <div id="resume-experience-item-header">
                    <div style="float:left">
                        <b style="font-family:none">NRI FinTech India Pvt. Ltd.</b><br> 
                        <i>Associate Software Developer</i>
                    </div>
                    <div style="float:right">
                        <b style="font-family:none">August, 2017 - November, 2018</b><br> 
                    </div>
                </div><br><br><br>
                <div id="resume-experience-item-content" style="float:bottom;"> 
                    <p>
                        This will make the directory /data inside the container live outside the Union File System and directly accessible on the host. Any files that the image held inside the /data directory will be copied into the volume. We can find out where the volume lives on the host by using the docker inspect command on the host (open a new terminal and leave the previous container running if you're following along):
                    </p>

                </div>
            </div>
            <hr id="hr-resume-profile" class"hr-resume">
            <div id="resume-eperience-item" class="" style="min-height:10px; overflow:auto;">
                <div id="resume-experience-item-header">
                    <div style="float:left">
                        <b style="font-family:none">NRI FinTech India Pvt. Ltd.</b><br> 
                        <i>Associate Software Developer</i>
                    </div>
                    <div style="float:right">
                        <b style="font-family:none">August, 2017 - November, 2018</b><br> 
                    </div>
                </div><br><br><br>
                <div id="resume-experience-item-content" style="float:bottom;"> 
                    <p>
                        This will make the directory /data inside the container live outside the Union File System and directly accessible on the host. Any files that the image held inside the /data directory will be copied into the volume. We can find out where the volume lives on the host by using the docker inspect command on the host (open a new terminal and leave the previous container running if you're following along):
                    </p>

                </div>
            </div>
        </div>
    </div>
    <hr class"hr-resume" style="border-top: 2px dashed #606263;">
</div>

{% endblock %}