{% extends "base.html" %}
{% load static %}

{% block extrastyles %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'resume/static/css/resume_style.css' %}"> {% endcomment %}
{% endblock %}

{% block page_content %}

<div class="container bg-light" style="min-height:1000px; overflow:auto;">
    <div class="row ">
        <div class="col-9">
            <div id="resume-header-left">
                <h1>CHETAN CHAUHAN</h1>
                <h3><i>WEB DEVELOPER</i></h3>
            </div>
        </div>
        <div class="col-3 mt-3">
            <div class="text-center w-100 h-100 align-middle">
                <button type="button" class="btn btn-secondary">Download PDF</button><br>
                <a href="mailto:chauhanchetan82@gmail.com">chauhanchetan82@gmail.com</a><br>
                8334053394, 7980312760
            </div>
        </div>
    </div>
    <hr class"hr-resume my-0" style="border-top: 2px dashed #606263; margin-top:0; margin-bottom:0;">    
    <div class="row ">
        <div class="col-3 my-auto">
            <div class="text-center w-100 h-100 align-middle">
                <h3>Profile</h3>
            </div>
        </div>
        <div class="col-9">
            <div class="text-left m-4">
                <p>This will make the directory /data inside the container live outside the Union File System and directly accessible on the host. Any files that the image held inside the /data directory will be copied into the volume. We can find out where the volume lives on the host by using the docker inspect command on the host (open a new terminal and leave the previous container running if you're following along):</p>
            </div>
        </div>
    </div>
    <hr class"hr-resume my-0" style="border-top: 2px dashed #606263; margin-top:0; margin-bottom:0;">  
    <div class="row ">
        <div class="col-3 my-auto">
            <div class="text-center w-100 h-100 align-middle">
                <h3>Skills</h3>
            </div>
        </div>
        <div class="col-9">
            <div class="row  h-100">
                <div class="col-4  text-center">
                    <strong>Languages</strong>
                    <ul class="text-left">
                        <li>Item 1</li>
                        <li>Item 1</li>
                        <li>Item 1</li>
                    </ul>
                </div>
                <div class="col-4  text-center">
                    <strong>Slills</strong>
                    <ul class="text-left">
                        <li>Item 1</li>
                        <li>Item 1</li>
                        <li>Item 1</li>
                        <li>Item 1</li>
                    </ul>
                </div>
                <div class="col-4  text-center">
                    <strong>Languages</strong>
                    <ul class="text-left">
                        <li>Item 1</li>
                        <li>Item 1</li>
                        <li>Item 1</li>
                        <li>Item 1</li>
                        <li>Item 1</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
    <hr class"hr-resume my-0" style="border-top: 2px dashed #606263; margin-top:0; margin-bottom:0;">  
    <div class="row ">
        <div class="col-3 my-auto">
            <div class="text-center w-100 h-100 align-middle">
                <h3>Experience</h3>
            </div>
        </div>
        <div class="col-9">
            <div class="row ">
                <div class="row  w-100 m-3">
                    <div class="col-9">
                        <div>
                            <strong>Oracle India Pvt. Ltd.</strong><br>
                            <i>Application Developer 2</i>
                        </div>
                    </div>
                    <div class="col-3 mt-3">
                        <div class="text-center w-100 h-100 align-middle">
                            <b>December, 2018 - <br>Present</b>
                        </div>
                    </div>
                </div>
                <div class="row  m-2">
                    <p>This will make the directory /data inside the container live outside the Union File System and directly accessible on the host. Any files that the image held inside the /data directory will be copied into the volume. We can find out where the volume lives on the host by using the docker inspect command on the host (open a new terminal and leave the previous container running if you're following along):</p>
                </div>
            </div>

            <hr class"hr-resume my-0" style="border-top: 2px dashed #606263; margin-top:0; margin-bottom:0;">  
            <div class="row ">
                <div class="row  w-100 m-3">
                    <div class="col-9">
                        <div>
                            <strong>NRI Fintech India Pvt. Ltd.</strong><br>
                            <i>Associate Software Developer</i>
                        </div>
                    </div>
                    <div class="col-3 mt-3">
                        <div class="text-center w-100 h-100 align-middle">
                            <b>August, 2017 - <br>November, 2018</b>
                        </div>
                    </div>
                </div>
                <div class="row  m-2">
                    <p>This will make the directory /data inside the container live outside the Union File System and directly accessible on the host. Any files that the image held inside the /data directory will be copied into the volume. We can find out where the volume lives on the host by using the docker inspect command on the host (open a new terminal and leave the previous container running if you're following along):</p>
                </div>
            </div>
            
        </div>
    </div>
    <hr class"hr-resume my-0" style="border-top: 2px dashed #606263; margin-top:0; margin-bottom:0;">  
    <div class="row ">
        <div class="col-3 my-auto">
            <div class="text-center w-100 h-100 align-middle">
                <h3>Education</h3>
            </div>
        </div>
        <div class="col-9">
            <div class="row  text-left">
                <div class="col-9">
                    <div>
                        <strong>Institute Of Engineering & Management, Kolkata, WB</strong><br>
                        <i>B.Tech., Computer Science & Engineering, 8.6 GPA</i>
                    </div>
                </div>
                <div class="col-3 mt-3">
                    <div class="text-center w-100 h-100 align-top">
                        <b>August, 2013 - <br>May, 2017</b>
                    </div>
                </div>
            </div>

            <hr class"hr-resume my-0" style="border-top: 2px dashed #606263; margin-top:0; margin-bottom:0;">  
            
            <div class="row  text-left">
                <div class="col-9">
                    <div>
                        <strong>St. Joseph's Public School, Samastipur, Bihar</strong><br>
                        <i>Intermediate, Science and Mathematics, 72%</i>
                    </div>
                </div>
                <div class="col-3 mt-3">
                    <div class="text-center w-100 h-100 align-top">
                        <b>April, 2010 - <br>March, 2012</b>
                    </div>
                </div>
            </div>

            <hr class"hr-resume my-0" style="border-top: 2px dashed #606263; margin-top:0; margin-bottom:0;">  
            
            <div class="row  text-left">
                <div class="col-9">
                    <div>
                        <strong>St. Joseph's Public School, Samastipur, Bihar</strong><br>
                        <i>Matriculation - 9.6 GPA</i>
                    </div>
                </div>
                <div class="col-3 mt-3">
                    <div class="text-center w-100 h-100 align-top">
                        <b>2010 Passout</b>
                    </div>
                </div>
            </div>
            
        </div>
        <hr class"hr-resume my-0" style="border-top: 2px dashed #606263; margin-top:0; margin-bottom:0;">  

    </div>
    <hr class"hr-resume my-0" style="border-top: 2px dashed #606263; margin-top:0; margin-bottom:0;"> 

    <div class="row " style="min-height:10px">
        <div class="text-center w-100 h-100 align-middle m-2">
            <i>Chetan Chauhan, chauhanchetan82@gmail.com, 8334053394</i>
        </div>
    </div>
</div>

{% endblock %}